:root {
    --teal: #006B6B;
    --light-teal: #009e9e;
    --yellow: #FCCF14;
    --blue: #063C5E;
    --grey: #C2C2C2;
    --white: #FFFFFF;
    --black: #000000;
}



body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    max-width: 100vw;
    font-size: 25px;
    margin: 0;
    overflow-x: hidden;
    background-color: var(--blue);
    background-image: linear-gradient(180deg, var(--white), var(--light-teal), var(--teal));
 }

 /* Header Styling*/

 .header {
    background-color: var(--blue);
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .navbar {
    display: flex;
    align-items:center;
    justify-content: top;
    background-color: var(--blue);
  }

  .navbar a {
    float: left;
    align-items:flex-end;
    color: var(--grey);
    margin: 20px;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none
  }

  .navbar a:hover {
    color: var(--yellow);
    font-weight: 700
  }

  .navbar a:active {
    background-color: var(--yellow);
    color: var(--blue);
    font-weight: 700
  }

  img {
    display: block;
    margin-right: auto;
    width: 300px
  }


/*index style*/


.content-container {
    display: flex;
    flex-direction: column;
    border: 5px solid var(--blue);
    padding: 0 60px 80px;
    margin: auto 200px;
    background-color: var(--white);
    width: auto;
    max-width: 75%;
    min-width: 20%;
    margin: 200px auto;
}

   
.collection {
    border: 5px solid var(--blue);
    padding: 0 60px 80px;
    background-color: var(--white);
    width: 100%;
    max-width: 75%;
    min-width: 20%;
    margin: 100px auto;
}

h1, h2,h3 {
    text-align:center;
    font-family: "Fredericka the Great";
}

.collection-order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;  
}

figure {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    width:200px;
    padding:5px 20px;
    text-align: center;
    font-size: 1rem;
}
figure a:hover {
    color: var(--light-teal);
}
figure a:active {
    color: var(--blue);
    background-color: var(--yellow);
    font-weight: bold;
}

figure a:visited {
    color: var(--blue);
}

figcaption {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    word-wrap: normal;
    width: 100%;
    min-width: 50px;
    max-width: 100%;
}
figcaption a {
    text-align: center;
    width: 100%;
}

figure img {
    width: 100%;
    max-width: 300px;
    min-width: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-flow:row;
    justify-content: space-around;
    background-color: var(--blue);
    color: var(--white);
    border-top: 5px solid var(--yellow);
    border-bottom: var(--white);
    padding: 5px 10px;
}
.footer img {
    width: 150px;
}

.footer-container {
    display: inline-block;
    flex-direction: column;
    margin: 50px auto;
    vertical-align: text-top;
    padding: auto;
   
 


}

.footer-container a {
    color: var(--grey);
    /* display: inline-block; */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.footer-container a:link {
    text-decoration: none;
    color:var(--white);
}
.footer-container a:visited {
    text-decoration: none;
    color:var(--white);
}
.footer-container a:hover {
    color: var(--yellow);
    text-emphasis: bold;
}
.social {
    /* justify-content: space-around; */
    font-size: 30px;
}

h3 {
    color: var(--yellow);
}
.card {
    /* flex: auto; */
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: var(--yellow);
    /* margin: 50px 50px; */
    width: 100%;
    min-width: 20%;
    max-width: 50%;
    margin: 75px auto;

    

}
.card-top{
    background-color: var(--blue);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: none;
    
}

.comic-title h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: var(--yellow);
    text-align: center;
}

.comic-card-img {
   margin: auto;
   padding: 0;
    width: 100%;
    min-width: 150px;
    max-width: 500px;
    height: auto;
    /* display: block; */
    border-radius: 5%;
    border-color: var(--white);
    border-width: 5px;
    border-style: solid;
    display: flex;
    flex-flow:wrap;
}
.image-container {
    background-color: var(--blue);
    height: auto;
    padding: 30px;
}

.card-bottom {
   margin: 0;
    padding: 20px;
    background-color: var(--white);
}

#center-div {
   
    background-color: var(--white);
     text-align: left;
     border-style: solid;
     border-color: var(--blue);
     /* margin-left: auto;
     margin-right:auto; */
     /* padding: 20px 0px; */
     padding: 0 50px 80px;
     margin: 200px;
     /* display: flex; */
     /* flex-direction: row; */
     /* flex-wrap: wrap; */
     /* justify-content:space-around;  */
     /* width: 100%;  */
     max-width: 75%; 
     min-width: 15%;
}
/* #center-div ul { */
/* text-align: center; */
/* list-style-position: inside; */
/* display: inline-block; */
/* flex-direction: column; */
/* flex-flow: wrap; */
/* width: 100%; */
/* justify-content: left; */
/* text-align: left; */
}


}
.collection-details {
    display: flex;
    flex-flow: column;
    align-content: center;
    margin: auto 10px;
    width: 100%;
}

.center-div ul {
    text-align: left;
}

.center-div p {
    text-align: left;
    padding: 25px 25px;
    
}
h3 {
    color:var(--blue);
}
.blue-button {
    background-color: var(--blue);
    color: var(--white);
}

.comic-table {
    border-color: var(--blue);
    border-collapse: collapse;
    /* border-style:solid; */
    margin-right:auto;
    margin-left:auto;
    min-width: 400px;
    /* height: 10%;
    width: 10%; */
    padding: none;
    border-style: solid;
   
}

.comic-table tr:nth-child(odd){
    background-color: var(--grey);  

}
.comic-table td,
.comic-table th {
    border: solid 2px var(--blue);
}


.admin-row-size {
    height: 25px;
    width: 25px;
    padding: 50px 50px;
}

#addnew {
    background-color: var(--yellow);
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center
}

.blue-button {
    background-color: var(--blue);
    color: var(--white);
    /* border-style: outset; */
}
.gold-button {
    background-color: var(--yellow);
}
h3 {
    color: var(--yellow);
    font-family: 'Fredericka the Great';
}
h1 {
    color: var(--blue);
    font-family: 'Fredericka the Great';
}

.form-fields {
    margin: 25px auto;
    max-width: 100%;
    min-width: 5%;
}
.form-fields li,
button {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  text-align: right;
  margin: 10px;
  flex: 1 100px;
  justify-content: center;
  min-width: 5%;
}
.form-fields > li > label {
  flex: 1 0 150px;
  /* margin-right: 10px; */
  max-width: 400px;
  min-width: 10px;
  width: 20px
justify-content: center;
}
.form-fields > li > label + * {
  flex: 1 0 100px;
  /* max-width: 25em;
  font-size: .55em */
  justify-content: center;
}
.form-fields li button {
  display: flex;
  background-color: var(--yellow);
  color:var(--black);
  padding: 5px 25px;
  margin-left: 450px;
  font-size: .8em
}
/*form container for update page & create page*/

.form-container {
    margin: auto 25px;
    width: 75%;
    max-width: 100%;
    min-width: 5%;
}
button {
    background-color: var(--yellow);
    padding: 0 40px 80px;
    text-align: center;
    width: fit-content;
    margin: auto;
    font-size: .7em;
    padding: 5px 25px;
    display: flex;
    justify-content: flex-end;  
}
@media screen and (min-width:320px) and (max-width: 768px) {
    .navbar{
        display: none;
    }
    .header i{
        display: flex;
        justify-content: space-around;
        color:var(--white);
        margin: auto 2em;
    }
    .footer{
        display: flex;
        flex-flow: column nowrap;
    }
    .content-container{
        padding:20px ;
        margin: 20px;
    
    }
    .collection{
        padding:20px ;
        margin: 20px;
    }

    form{
        width:100%;
    }
    label{
        text-align: left;
    }
    input, select, textarea{
        margin: 10px 0px;
    }
    td,th{
        padding: 2px 2px;
        font-size: .8rem;
    
    }
    table{
        overflow-x:visible;
        margin: 20px;
    }
  }