body {
    width: 100%;
    max-width: 100vw;
    font-size: 25px;
    margin: 0;
    overflow-x: hidden;
    background-color: #063c5e;
    background-image: linear-gradient(#ffffff, #009E9E, #006B6B);
 }




#list {
    list-style-type: none;
    /* padding-bottom: 50px; */
    border: none;
    overflow: hidden;
    background-color: #063C5E;
    text-decoration: none;
    
}
/* a:link*/

#list li {
    display: inline-block;
    /* font-size: 1.4rem; */
    color: #f2f2f2;
    margin: 20px;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}

#list a:active {
    background-color: #fccf14;
    color:#ffffff;
    font-weight: 700;
    text-decoration: none;
}

#list a:visited,
#list a:link {
    color: #ffffff;
    text-decoration: none;
}

#list a:hover {
    color:#fcc144;
    font-weight: bold;
}

.himg {
    display:block;
    background-color: #063c5e;
}
img {
    display:block;
    margin-right: auto;
    width: 300px;
    background-color: #063c5e;
}

/*index style*/


.content-container {
    border: solid #063C5E 4px;
    padding: 20px;
    margin: 10px auto;
    width: 75%;
    background-color: #ffffff;
}

   
.collection {
    border: solid #063C5E 4px;
    padding: 20px;
    margin: 10px auto;
    width: 75%;
    background-color: #ffffff;
}

h1, h2 {
    text-align:center;
}



.footer {
    background-color: #063C5E;
    color: #ffffff;
    /* width: auto; */
    /* max-width:none; */
    /* padding-top: 25px;
    margin-top: 25px; */
    border-top-style: solid;
    border-top: 5px solid #fcc144;
    border-bottom: 5px solid #ffffff;
    display: block;
    flex-direction: row;
}
#fimg {
    width: 115px;
}


.footer-container {
    display: inline-block;
    /* padding: 10px 150px; */
    text-align: left;
    margin: 60px 100px;
    vertical-align: text-top;
    
}
.footer-container a:link {
    text-decoration: none;
    color:#ffffff;
}
.footer-container a:visited {
    text-decoration: none;
    color:#ffffff;
}
.footer-container a:hover {
    color: #fcc144;
    text-emphasis: bold;
}

h3 {
    color: #fcc144;
}
.card {
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #fcc144;
    margin: 50px 50px;

}
.card-top{
    background-color: #063C5E;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: none;
    
}

.comic-title h1 {
    margin-top: 0%;
    margin-bottom: 0%;
    color: #fcc144;
    text-align: center;
}

.comic-card-img {
   margin: auto;
   padding: 0;
    width: 500px;
    height: auto;
    display: block;
    border-radius: 5%;
    border-color: #ffffff;
    border-width: 5px;
    border-style: solid;
}
.image-container {
    background-color: #063C5E;
    height: auto;
    padding: 30px;

}

.card-bottom {
   margin: 0;
    padding: 20px;
    background-color: #ffffff;
}

#center-div {
    
    background-color: #ffffff;
     text-align: left;
     border-style: solid;
     border-color: #063C5E;
     /* margin-left: auto;
     margin-right:auto; */
     /* padding: 20px 0px; */
     padding: 0 50px 80px;
     margin: 200px
     
}


.center-div ul {
    text-align: left;
}

.center-div p {
    text-align: left;
    padding: 25px 25px;
    
}
h3 {
    color: #063C5E;
}
.blue-button {
    background-color: #063C5E;
    color: #ffffff;
}

.comic-table {
    border-color: #063C5E;
    border-collapse: collapse;
    /* border-style:solid; */
    margin-right:auto;
    margin-left:auto;
    min-width: 400px;
    /* height: 10%;
    width: 10%; */
    padding: none;
    border-style: solid;
   
}

.comic-table tr:nth-child(odd){
    background-color: lightgray;  

}
.comic-table td,
.comic-table th {
    border: solid 2px #063C5E;
}


.admin-row-size {
    height: 25px;
    width: 25px;
    padding: 50px 50px;
}

#addnew {
    background-color:#fcc144;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center
}

.blue-button {
    background-color: #063C5E;
    color: white;
    /* border-style: outset; */
}
.gold-button {
    background-color: #fcc144;
}
h3 {
    color: #fcc144;
}
h1 {
    color: #063C5E;
}

.form-fields li,
button {
  display: flex;
  flex-wrap: wrap;
  align-items: left;
  text-align: right;
  margin: 5px
}
.form-fields > li > label {
  flex: 1 0 150px;
  margin-right: 10px;
  max-width: 400px;
  width: 20px
}
.form-fields > li > label + * {
  flex: 150px;
  max-width: 25em;
  font-size: .55em
}
.form-fields li button {
  display: flex;
  background-color: #fccf14;
  color: #000;
  padding: 5px 25px;
  margin-left: 450px;
  font-size: .8em
}
/*form container for update page & create page*/
.form-container {
    margin:auto;
    width: 75%;
}